
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #f4d04e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 327px;
  height: 501px;
  border-top: 1px solid #000000 ;
  border-left: 1px solid #000000 ;
  box-shadow: 8px 8px 0px #000000;
  border-radius: 20px;
}

.img__card{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.content_container{
  font-family: "Figtree";
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 24px 0px;
  gap: 12px;
}

.category{
    background-color: hsl(47, 88%, 63%);
    width: 73px;
    height: 26px;
    padding-top: 6px;
    text-align: center;
    border-radius: 4px;
}

.content_date{
  font-size: 12px;
  line-height: 150%;
}

.content_title{
  font-size: 20px;
}

.content_description{
  font-size: 14px;
  font-family: "Figtree";
  color: gray;
  text-align: start;
}

.autor{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.img_autor{
  width: 32px;
  height: 32px;
  box-shadow: 2px 2px 5px #0000007e;
  border-radius: 50%;
}

.autor_name{
  font-family: "Figtree";
}